.container {
  display: flex;
}

.left-container {
  width: 60%;
  padding: 20px;
  background-color: #f1f1f1;
}

.right-container {
  flex: 1;
  padding: 20px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table td {
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
input[type="file"],
input[type="password"] {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.link-password{
    text-decoration: none;
    color: blue;
}

 Стили для картинки
.right-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.delete-me{
    margin: 1px;
    padding: 5px;
}

.link-delete-me {
    text-decoration: none;
    color: blue;
}