.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: auto;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  select,
  input[type="text"],
  input[type="number"],
  textarea {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  select[multiple] {
    height: 80px;
  }

  .currency-select {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
  }

  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }

  .small-select {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: auto;
  }

textarea {
  resize: vertical;
  font-family: Arial, sans-serif; /* Используйте любой другой подходящий шрифт */
  font-size: 14px; /* Размер шрифта */
  line-height: 1.5; /* Межстрочное расстояние */
}

.tooltip {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
  }

  .tooltip-text {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 3px;
    z-index: 1;
  }
  .tooltip:hover .tooltip-text {
    display: block;
  }


/* Для телефона (максимальная ширина 767px) */
@media screen and (max-width: 767px) {
  .container {
    width: 90%;
    border-radius: 0;
    padding: 10px;
    box-shadow: none;
    margin: 0;
  }

  select,
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
  }
}

/* Для планшета (ширина от 768px до 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 80%;
  }

  .form-group {
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 3px;
  }
}

/* Для ноутбука и более крупных экранов (ширина от 1024px и более) */
@media screen and (min-width: 1024px) {
  .container {
    width: 600px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
  }

  select,
  input[type="text"],
  input[type="number"],
  textarea {
    width: 80%;
  }

  .small-select {
    width: auto;
  }
}
