

        .header {
            color: black;
            margin: 20px; /* Внешний отступ для всей страницы */
        }

        .text-par {
            line-height: 1.6;
            margin: 20px; /* Внешний отступ для всей страницы */
        }

        .main-container {
            margin-bottom: 30px;
            margin: 20px; /* Внешний отступ для всей страницы */
        }

        .label-container {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"] {
            width: 50%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        textarea {
            width: 50%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        select {
            width: 52%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }



        .other-topic-container {
            display: none;
        }

        .btn-sub {
            padding: 10px 20px;
            background-color: #4287f5;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            margin: 20px;
        }

        .btn-sub:hover {
            background-color: #007bff;
        }

/* Для телефона (максимальная ширина 767px) */
@media screen and (max-width: 767px) {
  .header,
  .text-par,
  .main-container {
    margin: 10px;
  }

  input[type="text"],
  input[type="email"],
  textarea,
  select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }
}

/* Для планшета (ширина от 768px до 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header,
  .text-par,
  .main-container {
    margin: 15px;
  }

  input[type="text"],
  input[type="email"],
  textarea,
  select {
    width: 60%;
    font-size: 16px;
  }
}

/* Для ноутбука и более крупных экранов (ширина от 1024px и более) */
@media screen and (min-width: 1024px) {
  .header,
  .text-par,
  .main-container {
    margin: 20px;
  }

  input[type="text"],
  input[type="email"],
  textarea,
  select {
    width: 50%;
    font-size: 16px;
  }
}
