.header-search{
    background-color: #f2f2f2;
    padding: 20px 0; /* Оставляем отступ сверху и снизу */
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%; /* Устанавливаем ширину формы в 80% */
    margin: 0 auto; /* Центрируем форму на странице */
}

.search-input {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1; /* Растягиваем поле ввода по ширине */
}

.search-button {
    padding: 16px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 10px;
}

.vacancy-container {
    flex: 3;
    padding: 20px;
    background-color: #f9f9f9;
}

.ad-container {
    padding: 40px;
    background-color: #f2f2f2;
}

.vacancy-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.vacancy-title {
    font-size: 24px;
    margin: 0 0 10px;
}

.vacancy-description {
    font-size: 16px;
    color: #555;
    margin: 0 0 10px;
}

.vacancy-location {
    font-size: 14px;
    color: #777;
    margin: 0;
}

.apply-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.card-link {
    text-decoration: none;
}

.card-link:hover {
    color: red;
}

/* Для телефона (максимальная ширина 767px) */
@media screen and (max-width: 767px) {
  .header-search {
    padding: 15px 0;
  }

  .search-form {
    width: 90%;
  }

  .search-input {
    padding: 12px;
    flex: 2;
  }

  .search-button {
    padding: 12px 16px;
    margin: 5px;
  }

  .main-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .vacancy-container {
    padding: 15px;
  }

  .ad-container {
    padding: 30px;
  }
}

/* Для планшета (ширина от 768px до 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .search-form {
    width: 70%;
  }

  .search-input {
    padding: 14px;
    flex: 3;
  }

  .search-button {
    padding: 14px 18px;
    margin: 8px;
  }

  .main-content {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  .vacancy-container {
    padding: 18px;
  }

  .ad-container {
    padding: 35px;
  }
}

/* Для ноутбука и более крупных экранов (ширина от 1024px и более) */
@media screen and (min-width: 1024px) {
  .header-search {
    padding: 20px 0;
  }

  .search-form {
    width: 60%;
  }

  .search-input {
    padding: 16px;
    flex: 1;
  }

  .search-button {
    padding: 16px 20px;
    margin: 10px;
  }

  .main-content {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }

  .vacancy-container {
    padding: 20px;
  }

  .ad-container {
    padding: 40px;
  }
}
