html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #f0f0f0;
    color: #333;
}

/*код для панели с выбором кандидат или подбор персонала*/
.nav-panel-applicant-employer {
    background-color: #00000;
    padding: 15px;
}

.navigation-panel {
  position: relative;
}

.left-div,
.right-div {
    margin: 0 10px;
}

.left-div {
  display: inline-block; /* Используем inline-block для левых div */
}

.right-div {
  position: absolute; /* Абсолютное позиционирование для правого div */
  top: 0;
  right: 20px; /* Отступ справа */
}

.link-nav-bar-applicant-employer{
    color: blue;
    text-decoration: none;
}

.link-nav-bar-applicant-employer.current {
    color: black;
}

a {
    color: #007bff;
}

.link-nav-bar-applicant-employer:hover {
    color: #ff0000;
}

.navbar-wrapper {
    width: 100%;
}
/* тут стили для навигационной панели */

div.main-navbar {
    background-color: #333;
    padding: 10px 0;
}

div.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0 20px; /* Отступы слева и справа */
}

div.main-navbar li {
    display: inline-block;
    margin: 0 10px;
}

div.main-navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
}

div.main-navbar a.hover-eff:hover {
    background-color: #555;
}

.right-elements {
    margin-left: flex;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li.right {float: right;}

/*стиль для картинки в панели*/
img.navbar-image {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

div.img-main {
    display: flex; /* Добавляем flex для управления расположением дочерних элементов */
    justify-content: flex-start; /* Выравниваем элементы слева */
    margin-left: 20px;
}

div.img-main img.navbar-image {
    width: 40px;
    height: 30px;
}


/*стиль для кнопки войти и регистранции*/

div.register-btn {
  display: inline-block;
  background-color: #3498db;
  color: #ffffff;
  border: 1px solid #3498db;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

div.register-btn:hover {
  background-color: #2980b9;
  color: #fff;
  transform: scale(1.05);
}

div.register-btn:active {
  background-color: #1f618d;
  transform: scale(0.95);
}

div.login-btn{
  display: inline-block;
  background-color: #ffffff
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px; /* Закругленные углы */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

div.login-btn:hover{
  background-color: #05821a15;
  color: #fff;
  transform: scale(1.05); /* Увеличение размера при наведении */
}

div.login-btn:active {
  transform: scale(0.95);
}


/*стили для main контента*/

#wrapper{
    display: table;
    height:100%;
}

.main-content {

}
/* стили для container-search-people */
.container-search-people {
     display: flex;
}

.content-count-vacancy {
    float: left;
    width: 11%;
}

.content-count-company {
    float: left;
    width: 15%;
}

.content-count-company p,
.content-count-vacancy p {
    margin: 0 0 10px;
}

.content-count-company span,
.content-count-vacancy span {
    font-weight: bold;
}

.content-count-company,
.content-count-vacancy {
    padding: 30px;
    background-color: #f0f0f0;
    font-size: 18px;
}
/* конец для container-search-people */


/*конец стилей для контента*/

/*стиль для footer*/

#footer{
    background: #333;
    display: table-row;
    height:20%;
    color: white;
}

#wrapper, #footer{
    width:100%;
}
/*конец стилей футера*/

@media only screen and (max-width: 320px) {
    div.main-navbar {
        padding: 5px 0; /* Изменение отступов */
    }
}

@media only screen and (max-width: 576px) {
        .navbar-wrapper {
            font-size: 14px;
            padding: 10px;
            width: 100%;
        }

@media only screen and (max-width: 768px) {
    /* Уменьшаем размер шрифтов ссылок */
    .link-nav-bar-applicant-employer,
    div.register-btn,
    div.login-btn {
        font-size: 14px;
    }

    /* Меняем размер кнопок войти и регистрации */
    div.register-btn{
        padding: 8px 12px;
        border-radius: 8px;
    }

    div.login-btn {
        padding: 8px 50px;
        border-radius: 8px;
    }

    /* Адаптивный дизайн для навигационной панели */
    .nav-panel-applicant-employer {
        padding: 10px;
    }

    .left-div {
      display: inline-block; /* Используем inline-block для левых div */
    }

    /* Меняем размер изображений в панели */
    img.navbar-image {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }

    div.img-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.img-main img.navbar-image {
        width: 30px;
        height: 20px;
        align-elements: center;
    }

    div.img-main img.navbar-image {
        width: 30px;
        height: 20px;
    }

    /* Адаптивный дизайн для контейнера поиска */
    .container-search-people {
        flex-direction: column;
    }

    .content-count-company,
    .content-count-vacancy {
        width: 100%;
        float: none;
    }

    .content-count-company,
    .content-count-vacancy p {
        font-size: 14px;
    }

    /* Адаптивный дизайн для футера */
    #footer {
        height: auto;
    }

    ul.topnav {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    ul.topnav li {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    ul.topnav li.right {
        float: none;
    }

    ul.topnav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 12px 0;
        text-decoration: none;
    }
    div.main-navbar {
        padding: 8px 0;
    }

    div.main-navbar ul {
        padding: 0;
    }

    div.main-navbar li {
        display: block;
        margin: 5px 0;
    }
}

/* Для планшетов (ширина экрана от 768px до 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Изменения для панели с выбором кандидата или подбором персонала */
    .nav-panel-applicant-employer {
        padding: 12px; /* Изменение отступов для панели */
    }

    .left-div,
    .right-div {
        margin: 0 8px; /* Изменение отступов для блоков */
    }

    /* Навигационная панель */
    div.main-navbar {
        padding: 8px; /* Изменение отступов для основной навигационной панели */
    }

    div.main-navbar ul {
        padding: 0; /* Изменение отступов списка */
    }

    div.main-navbar li {
        display: block;
        margin: 5px 0; /* Изменение отступов элементов списка */
    }

    div.main-navbar a {
        padding: 10px; /* Изменение отступов текста ссылок */
    }

    /* Кнопки входа и регистрации */
    div.register-btn {
        font-size: 16px; /* Изменение размера шрифта */
        padding: 10px 20px; /* Изменение отступов кнопки регистрации */
        border-radius: 10px; /* Изменение радиуса скругления углов */
    }

    div.login-btn {
        font-size: 16px; /* Изменение размера шрифта */
        padding: 10px 20px; /* Изменение отступов кнопки входа */
        border-radius: 10px; /* Изменение радиуса скругления углов */
    }

    /* Контент */
    .container-search-people {
        flex-direction: row; /* Возвращение горизонтального расположения элементов */
    }

    .content-count-company,
    .content-count-vacancy {
        width: 50%; /* Изменение ширины элементов */
        padding: 30px; /* Изменение отступов */
        margin-bottom: 30px; /* Изменение отступа между элементами */
    }

    .content-count-company p,
    .content-count-vacancy p {
        margin-bottom: 15px; /* Изменение отступа между абзацами */
    }

    /* Изображения */
    img.navbar-image {
        width: 35px; /* Изменение размера изображений */
        height: 35px;
        margin-left: 15px; /* Изменение отступов */
    }
}

