{% extends 'chat/base_chat.html' %}


{% block title %}
Чат с
{% if request.user.applicant %}
    компанией {{room.name_company}}
{% else %}
    кандидатом {{room.name_resume}}
{% endif %}
{% endblock %}

{% block divexit %}
<div class="flex items-center space-x-4">
    <a href="{% url 'chat:exit_from_room_chat' room.id %}" class="px-5 py-3 rounded-xl text-white bg-teal-900 hover:bg-teal-200 block" onclick="return confirm('Вы действительно хотите выйти из чата?')">
        Выход из чата
    </a>
</div>
{% endblock  %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">
        Чат с
{% if request.user.applicant %}
    компанией {{room.name_company}}
{% else %}
    кандидатом {{room.application.applicant.second_name}} {{room.application.applicant.first_name}}
{% endif %}
    </h1>
</div>

<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <div class="chat-messages space-y-3" id="chat-messages">
        {% for m in messages %}
        <div style="margin: 0px; padding: 5px;" data-message-id="{{ m.id }}">
            <b>{{ m.first_name }} {{ m.last_name }}</b>:
                <span id="content-message" data-id="{{ m.id }}">{{ m.content }}<br></span>
            {% if m.user.id == request.user.id %}
                <span id="delete-message" class="delete-button" data-message-id="{{ m.id }}" style="cursor: pointer;">&#128465;</span>&nbsp;
                <span id="edit-message" class="edit-button" data-message-id="{{ m.id }}" style="cursor: pointer;">&#x270F;</span>
            {% endif %}
                <br>
        </div>
        {% endfor %}
    </div>
</div>

<div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <form method="post" action="." class="flex">
        {% if room.application.status == 'access' or room.application.is_invited and room.application.status != 'reject' %}
            <input type="text" name="content" class="flex-1 mr-3" placeholder=" Введите сообщение..." id="chat-message-input">
            <button
             class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700"
                id="chat-message-submit">Отправить сообщение
            </button>
        {% elif room.application.status == 'reject' or room.application.status == 'pending' %}
            {% if request.user.applicant %}
                <input type="text" name="content" class="flex-1 mr-3" placeholder=" Чат будет доступен после приглашения" disabled>
            {% else %}
                <input type="text" name="content" class="flex-1 mr-3" placeholder=" Чат будет доступен после вашего приглашения кандидату" disabled>
            {% endif %}
        {% endif %}
    </form>
</div>
<br>
{% endblock %}

{% block scripts %}
{{ room.id|json_script:"json-room_id" }}
{{ request.user.email|json_script:"json-email" }}



<script>
    const room_id = JSON.parse(document.getElementById('json-room_id').textContent);
    const userName = JSON.parse(document.getElementById('json-email').textContent);

    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }


    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + room_id
        + '/'
    );

    chatSocket.onclose = function(e) {
        return ;
    }

    function deleteMessage(messageId)
    {
       chatSocket.send(JSON.stringify({
            'delete_message': true,
            'message_id': messageId,
        }));
    }

    function editMessage(messageId, newContent) {
        chatSocket.send(JSON.stringify({
            'edit_message': true,
            'message_id': messageId,
            'new_content': newContent,
        }));
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.message) {
            var newMessage = '<div style="margin: 0px; padding: 5px;" data-message-id="' + data.id + '">';

            newMessage += '<b>' + data.first_name + ' ' + data.last_name + '</b>:</span> ';
            newMessage += '<span id="content-message">' + data.message + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>';
            newMessage += '<span id="delete-message" class="delete-button" data-message-id="' + data.id + '" style="cursor: pointer;">&#128465;</span>&nbsp;';
            newMessage += '<span id="edit-message" class="edit-button" data-message-id="' + data.id + '" style="cursor: pointer;">&#x270F;</span>';
            newMessage += '<br></div>';

            const chatMessages = document.querySelector('#chat-messages');
            chatMessages.innerHTML += newMessage;

            const deleteButton = chatMessages.querySelector(`[data-message-id="${data.id}"] .delete-button`);
            deleteButton.addEventListener('click', function() {
                const userConfirmation = confirm('Вы уверены, что хотите удалить сообщение?');
                const messageId = this.getAttribute('data-message-id');
                const messageToDelete = document.querySelector(`[data-message-id="${messageId}"]`);

                if (userConfirmation){
                    deleteMessage(messageId);
                    messageToDelete.remove();
                }
            });

        } else if (data.edit_success) {
            const editedMessageId = data.message_id;
            const newContent = data.new_content;

            document.querySelector(`#content-message-${editedMessageId}`).textContent = newContent;

        } else if (data.delete_success) {
            const deletedMessageId = data.message_id;
            const messageElement = document.querySelector(`#content-message-${deletedMessageId}`);
            if (messageElement) {
                messageElement.parentNode.removeChild(messageElement);
        }}

        scrollToBottom();
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault();

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': room_id
        }));

        messageInputDom.value = '';

        return false
    };

    document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', function() {
            const userConfirmation = confirm('Вы уверены, что хотите удалить сообщение?');

            const messageId = this.getAttribute('data-message-id');
            const messageToDelete = document.querySelector(`[data-message-id="${messageId}"]`);

            if (userConfirmation){
                deleteMessage(messageId);
                messageToDelete.remove();
            }
        });
    });
    });

    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.edit-button').forEach(button => {
            button.addEventListener('click', function() {
                const messageId = this.getAttribute('data-message-id');
                const messageToDelete = document.querySelector(`[data-message-id="${messageId}"]`);

                const messageElement = document.querySelector(`[data-id="${messageId}"]`);
                document.getElementById('chat-message-input').value = messageElement.textContent;

                deleteMessage(messageId);
                messageToDelete.remove();

                 });
            });
        });

    scrollToBottom();
</script>
{% endblock %}