{% extends 'base_applicant.html' %}

{% load static %}
{% block title %} Вакансии {% endblock %}
{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<style>
  .published {
    font-style: italic;
    color: #3b3d3b;
}

.button-raising {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: #0074d9;
    text-decoration: none;
    cursor: pointer;
}
</style>
{% endblock %}

{% block total_responses %}
  {% if total_responses %}
    <small>{{ total_responses }}</small>
  {% endif %}
{% endblock %}

{% block content %}
<div class="main-container">
  <div class="content-container">
    <h1>Ваши резюме</h1>
    <div class="buttons">
      <button class="button-primary" onclick="return window.location.href='#'">Заказать резюме</button>
      <button class="button-secondary" onclick="return window.location.href='{% url 'create_resume' %}'">Создать резюме</button>
    </div>

    <div class="summary-container">
      {% for resume in resumes %}
      <div class="resume-container">
        <h2 class="resume-title">{{ resume.name_of_resume }}</h2>
        <p>Резюме было поднято в поиске: {{ resume.updated_at|time:"H:i" }}</p>
        <div>
          {% if resume.about_applicant %}
          <h4>Описание:</h4>
          <p>{{ resume.about_applicant|slice:"50" }}{% if resume.about_applicant|length > 50 %}...{%endif%}</p>
          {% endif %}
          <h4>Навыки:</h4>
          <p>{{ resume.key_skills }}</p>
          <h4>Образование:</h4>
          <p>{{ resume.education }}</p>
          <h4>Опыт в данной специальности:</h4>
          <p>{% if resume.experience %}{{ resume.experience }}{% else %}Нет опыта{% endif %}</p>
        </div>
         <br>
        <form action="{% url 'change_published_resume' resume.id %}" method="post">
            {% csrf_token %}
            <p class="published">
              В данный момент резюме
              {% if resume.is_published %}
              <span style="color:green;">опубликовано</span>{%else%} <span style="color:red;">не опубликовано</span>
              {%endif%}!
              <span>
                <button class="resume-button"
                        onclick="return confirm('Вы действительно хотите изменить видимость вакансии?')">{% if resume.is_published %}Отложить в архив{%else%}Опубликовать{%endif%}</button>
              </span>
            </p>
          </form>
        <div class="resume-actions">
          <form action="{% url 'update_resume' resume.id %}">
            <button class="resume-button modify">Дополнить резюме</button>
          </form>
          <form method="post" action="{% url 'delete_resume' resume.id %}">
            {% csrf_token %}
            <button class="resume-button delete" onclick="return confirm('Вы действительно хотите удалить ваше резюме?')">
              Удалить резюме
            </button>
          </form>
        </div>
         {% if resume.is_published %}
        <br>
          <form action="{% url 'raising_resume' resume.id %}" method="post">
            {% csrf_token %}
            <button class="button-raising" data-resume-id="{{resume.id}}" id="raisingBtn">Поднять резюме</button>
          </form>
        {% endif %}
        <script>
          function checkAndUpdateButtons() {
            var updateButtons = document.querySelectorAll('.button-raising');
            updateButtons.forEach(function(button) {
              var resumeId = button.getAttribute('data-resume-id');
              var lastUpdate = new Date('{{ resume.updated_at|date:"c" }}');
              var currentTime = new Date();
              var updateInterval = 4 * 60 * 60 * 1000;
              if (currentTime - lastUpdate >= updateInterval) {
                button.disabled = false;
                button.textContent = 'Поднять резюме';
              } else {
                button.disabled = true;
                button.textContent = 'Резюме уже поднято';
              }
            });
          }
          checkAndUpdateButtons();
          setInterval(checkAndUpdateButtons, 1 * 60 * 1000);
        </script>
      </div>
      {% endfor %}
    </div>

  </div>

  <div class="ad-container">
   <p>Тут могла быть ваша реклама</p>
  </div>
</div>

{% endblock %}