{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% static 'search_site/styles/style.css' %}" rel="stylesheet"/>

    <title>{% block title %}{% endblock %}</title>

    {% block css %}
    {% endblock %}
    <style>
        .link-applicant:hover {
            color: #81c1fc;
        }
        .link-exit:hover {
            color: red;
        }
    </style>
</head>
<body>
{% if not request.user.is_authenticated %}
<script>
    window.location.href = "{% url 'login_applicant' %}";
</script>
{% endif %}

{% if request.user.applicant %}
<div class="navbar-wrapper">
    <div class="main-navbar">
        <ul class="topnav">
            <li>
                <div class="img-main">
                     <span>
                        <a href="{% url 'main_applicant' %}"> <img src="{% static 'photo/icon.png' %}" class="navbar-image"></a>
                    </span>
                </div>
            </li>
            <li class="right">
                <div class="img-main">
                    <span>
                        <a href="{% url 'index_chat' %}"> <img src="{% static 'photo/chat.png' %}" class="navbar-image" title="Чаты"></a>
                    </span>
                    <span>
                        <a href="{% url 'applicant_home_page' %}"> <img src="{% static 'photo/user.png' %}" class="navbar-image" title="Профиль"></a>
                    </span>&#8194;&#8194;&#8194;
                    <span><a href="{% url 'logout_user' %}" class="link-exit">Выход</a></span>
                </div>
            </li>
            <li><a href="{% url 'rezume_applicant' %}" class="link-applicant">Мои резюме</a></li>
            <li><a href="{% url 'all_respond_on_vacancy' %}" class="link-applicant">Отклики {% block total_responses %}{%endblock%}</a></li>
            <li><a href="{% url 'help' %}" class="link-applicant">Помощь</a></li>
        </ul>
    </div>
</div>
<div id="wrapper">
    {% block content %}
    {% endblock %}
    <br>
    <div id="footer">
        {% include 'footer_applicant.html' %}
    </div>
</div>

</body>
{% block js %}
{% endblock %}

{% elif request.user.company %}
<script>
    window.location.href = "{% url 'main_employer' %}";
</script>
{% else %}
<script>
    window.location.href = "{% url 'admin' %}";
</script>
{% endif %}
</html>
