{% extends 'base_applicant.html' %}

{% load static %}
{% block title %} Изменение пароля {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/applicant_home.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/messages.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container">
    <div class="left-container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if error_message %}
          <div class="error-message">
              <p>{{ error_message }}</p>
          </div>
        {% endif %}
        {% if successful_message %}
          <div style="color: #09d910; font-size: 24px; margin-bottom: 16px;">
              <p>{{ successful_message }}</p>
          </div>
        {% endif %}
        <table>
          <tr>
            <td>Введите свой старый пароль</td>
            <td><input type="password" name="password" required>
              <br>
              <a href="#">Забыли свой пароль?</a>
            </td>
          </tr>
          <tr>
            <td>Новый пароль</td>
            <td><input type="password" name="password1" required></td>
          </tr>
            <tr>
            <td>Потвердите пароль</td>
            <td><input type="password" name="password2" required></td>
          </tr>
        </table>
        <button type="submit">Сохранить</button>
      </form>

    </div>
  </div>
{% endblock %}