{% extends 'employer.html' %}
{% load static %}

{% block title %} Ваши вакансии {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<style>
  .published {
    font-style: italic;
    color: #3b3d3b;
}
</style>
{% endblock %}

{% block content %}
<div class="main-container">
  <div class="content-container">
    <h1>Ваши вакансии</h1>
    <div class="buttons">
      <button class="button-primary" onclick="return window.location.href='{% url 'create_vacancy' %}'">Создать вакансию</button>
      <button class="button-secondary" onclick="return window.location.href='#'">Заказать создание вакансии</button>
    </div>

    <div class="summary-container">
      {% for vacancy in vacancies %}
      <div class="resume-container">
        <h2 class="resume-title">{{ vacancy.title_vacancy }}</h2>
        <div>
          <p>Создано: <span>{{vacancy.created_at}}</span></p>
          <h4>Навыки:</h4>
          <p>{{ vacancy.key_skills }}</p>
          <h4>Опыт работы</h4>
          <p>{% if vacancy.experience %}{{ vacancy.experience }}{% else %}Нет опыта{% endif %}</p>
          <h4>Тип занятости</h4>
          <p>{% if vacancy.type_of_employment %}{{ vacancy.type_of_employment }}{% else %}Не указано{% endif %}</p>
          <h4>Специализация</h4>
          <p>{{ vacancy.specialization }}</p>
          {% if vacancy.description %}
            <h4>Описание:</h4>
            <p>{{ vacancy.description|slice:"150" }}{% if vacancy.description|length > 150 %}...{%endif%}</p>
          {% endif %}
          <br>
          <form action="{% url 'change_published' vacancy.id %}" method="post">
            {% csrf_token %}
            <p class="published">
              В данный момент вакансия
              {% if vacancy.is_published %}
              <span style="color:green;">опубликована</span>{%else%} <span style="color:red;">не опубликована</span>
              {%endif%}!
              <span>
                <button class="resume-button"
                        onclick="return confirm('Вы действительно хотите изменить видимость вакансии?')">{% if vacancy.is_published %}Отложить в архив{%else%}Опубликовать{%endif%}</button>
              </span>
            </p>
          </form>
        </div>
         <br>
        <div class="resume-actions">
          <form action="#">
            <button class="resume-button modify">Дополнить вакансию</button>
          </form>
          <form method="post" action="{% url 'delete_vacancy' vacancy.id %}">
            {% csrf_token %}
            <button class="resume-button delete" onclick="return confirm('Вы действительно хотите удалить вашу вакансию?')">
              Удалить вакансию
            </button>
          </form>

        </div>
      </div>
      {% endfor %}

    </div>

  </div>

  <div class="ad-container">
   <p>Тут могла быть ваша реклама</p>
  </div>
</div>
{% endblock %}