{% extends 'base_applicant.html' %}

{% load static %}
{% block title %} Создание резюме {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/crt_resume.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/messages.css' %}" rel="stylesheet"/>
<style>

</style>
{% endblock %}

{% block content %}

<div class="container">
  {% if error_message %}
        <div class="error-message">
            <p>{{ error_message }}</p>
        </div>
  {% endif %}

    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="name_resume">Название резюме</label>
        <input type="text" id="name_resume" name="name_resume" required value="{{ resume.name_of_resume }}">
        <span class="tooltip">
          <span class="tooltip-text">Напишите название вашего резюме</span>
          <sup>?</sup>
        </span>
      </div>

      <div class="form-group">
        <label for="profession">Профессия</label>
        <select id="profession" name="profession">
          <option {% if resume.profession == "Нет профессии" %}selected{% endif %}>Нет профессии</option>
          <option {% if resume.profession == "Разработчик"%}selected{%endif%}>Разработчик</option>
          <option {% if resume.profession == "Дизайнер"%}selected{%endif%}>Дизайнер</option>
          <option {% if resume.profession == "Менеджер"%}selected{%endif%}>Менеджер</option>
          <option {% if resume.profession == "Охраник"%}selected{%endif%}>Охраник</option>
          <option {% if resume.profession == "Курьер"%}selected{%endif%}>Курьер</option>
          <option {% if resume.profession == "Водитель"%}selected{%endif%}>Водитель</option>
          <option {% if resume.profession == "Администратор"%}selected{%endif%}>Администратор</option>
          <option {% if resume.profession == "Секретарь"%}selected{%endif%}>Секретарь</option>
          <option {% if resume.profession == "Повар"%}selected{%endif%}>Повар</option>
          <option {% if resume.profession == "Электрик"%}selected{%endif%}>Электрик</option>
          <option {% if resume.profession == "Разнорабочий"%}selected{%endif%}>Разнорабочий</option>
          <option {% if resume.profession == "Кладовщий"%}selected{%endif%}>Кладовщик</option>
          <option {% if resume.profession == "Помощник"%}selected{%endif%}>Помощник</option>
          <option {% if resume.profession == "Уборщик"%}selected{%endif%}>Уборщик</option>
        </select>
      </div>

      <div class="form-group">
        <label for="gender">Пол</label>
        <select id="gender" name="gender">
          <option value="male">Мужской</option>
          <option value="female">Женский</option>
        </select>
      </div>

      <div class="form-group">
        <label for="education">Образование</label>
        <select id="education" name="education">
          <option {% if resume.education == "Нет образования" %}selected{% endif %}>Нет образования</option>
          <option {% if resume.education == "Среднее" %}selected{% endif %}>Среднее</option>
          <option {% if resume.education == "Среднее специальное" %}selected{% endif %}>Среднее специальное</option>
          <option {% if resume.education == "Неоконченное высшее" %}selected{% endif %}>Неоконченное высшее</option>
          <option {% if resume.education == "Высшее" %}selected{% endif %}>Высшее</option>
          <option {% if resume.education == "Бакалавр" %}selected{% endif %}>Бакалавр</option>
          <option {% if resume.education == "Магистр" %}selected{% endif %}>Магистр</option>
          <option {% if resume.education == "Кандидат наук" %}selected{% endif %}>Кандидат наук</option>
          <option {% if resume.education == "Доктор наук" %}selected{% endif %}>Доктор наук</option>
        </select>
      </div>

      <div class="form-group">
        <label for="workplace">Место работы</label>
        <input type="text" id="workplace" name="workplace" value="{{resume.place_of_work}}">
        <span class="tooltip">
          <span class="tooltip-text">Если в данный момент работаете то напишите где, иначе не пишите</span>
          <sup>?</sup>
        </span>
      </div>

      <div class="form-group">
        <label for="experience">Опыт работы</label>
        <input type="number" id="experience" name="experience" min="0" value="{{resume.experience}}">
        <span class="tooltip">
          <span class="tooltip-text">Напишите, сколько у вас опыта в выбранной профессии</span>
          <sup>?</sup>
        </span>
      </div>

      <div class="form-group">
        <label for="skills">Ключевые навыки</label>
        <input type="text" id="skills" name="skills" required value="{%if resume%}{{resume.key_skills}}{%endif%}">
        <span class="tooltip">
          <span class="tooltip-text">Добавьте ключевые навыки, разделяя запятыми</span>
          <sup>?</sup>
        </span>
      </div>

      <div class="form-group">
        <label for="about_applicant">О вас</label>
        <textarea id="about_applicant" name="about_applicant" rows="4" required>{{resume.about_applicant}}</textarea>
      </div>

      <div class="form-group">
        <label for="salary">Зарплата</label>
        <input type="number" id="salary" name="salary" value="{{resume.salary|slice:'-4' }}">
        <select class="small-select" name="currency">
          <option value="byn">Br</option>
          <option value="rub">&#8381;</option>
          <option value="usd">$</option>
        </select>
      </div>

      <button type="submit">Отправить</button>
    </form>
  </div>

{% endblock %}