{% extends 'employer.html' %}
{% load static %}

{% block title %} Создание вакансии {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/crt_resume.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/messages.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container">
    {% if error_message %}
        <div class="error-message">
            <p>{{ error_message }}</p>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title_vacancy">Название вакансии</label>
            <input type="text" id="title_vacancy" name="title_vacancy" required value="{{vacancy.title_vacancy}}">
        </div>
        <div class="form-group">
            <label for="location">Местоположение (офиса, места работы) если есть</label>
            <input type="text" id="location" name="location" value="{{vacancy.location}}">
            <span class="tooltip">
                <span class="tooltip-text">Напишите местоположение вашего места работы, т.е. где нужно будет трудиться.</span>
                <sup>?</sup>
            </span>
        </div>
        <div class="form-group">
            <label for="type_of_employment">Тип занятости кандидатов</label>
            <select id="type_of_employment" name="type_of_employment">
                <option {% if vacancy.type_of_employment == "" %}selected{%endif%}></option>
                <option {% if vacancy.type_of_employment == "Подработка" %}selected{%endif%}>Подработка</option>
                <option {% if vacancy.type_of_employment == "Частичная занятость"%}selected{%endif%}>Частичная занятость</option>
                <option {% if vacancy.type_of_employment == "Полный рабочий день" %}selected{%endif%}>Полный рабочий день</option>
                <option {% if vacancy.type_of_employment == "Стажировка" %}selected{%endif%}>Стажировка</option>
                <option {% if vacancy.type_of_employment == "Удаленная работа" %}selected{%endif%}>Удаленная работа</option>
                <option {% if vacancy.type_of_employment == "Вахтовый метод работы" %}selected{%endif%}>Вахтовый метод работы</option>
                <option {% if vacancy.type_of_employment == "Сезонная работа" %}selected{%endif%}>Сезонная работа</option>
                <option {% if vacancy.type_of_employment == "Контрактная работа" %}selected{%endif%}>Контрактная работа</option>
            </select>
        </div>
        <div class="form-group">
            <label for="specialization">Специализация</label>
             <select id="specialization" name="specialization">
                <option {% if vacancy.specialization == "Производство и изготовление" %}selected{%endif%}>Производство и изготовление</option>
                <option {% if vacancy.specialization == "Финансы и инвестиции" %}selected{%endif%}>Финансы и инвестиции</option>
                <option {% if vacancy.specialization == "Медицина и здравоохранение" %}selected{%endif%} >Медицина и здравоохранение</option>
                <option {% if vacancy.specialization == "Образование" %}selected{%endif%}>Образование</option>
                <option {% if vacancy.specialization == "Транспорт и логистика" %}selected{%endif%}>Транспорт и логистика</option>
                <option {% if vacancy.specialization == "Информационные технологии" %}selected{%endif%}>Информационные технологии</option>
                <option {% if vacancy.specialization == "Маркетинг и реклама" %}selected{%endif%}>Маркетинг и реклама</option>
                <option {% if vacancy.specialization == "Розничная торговля" %}selected{%endif%}>Розничная торговля</option>
            </select>
        </div>
        <div class="form-group">
            <label for="salary">Заработная плата кандидатов</label>
            <input type="number" id="salary" name="salary" value="{{vacancy.salary|slice:'-4' }}" min="0">
            <select class="small-select" name="currency">
              <option value="byn">Br</option>
              <option value="rub">&#8381;</option>
              <option value="usd">$</option>
            </select>
        </div>
        <div class="form-group">
            <label for="experience">Опыт работы кандидатов</label>
            <input type="number" id="experience" name="experience" min="0" value="{{vacancy.experience}}">
            <span class="tooltip">
              <span class="tooltip-text">Напишите, сколько должно быть опыта у кандидата в этой области.</span>
              <sup>?</sup>
            </span>
        </div>
        <div class="form-group">
            <label for="key_skills">Ключевые навыки у кандидатов</label>
            <input type="text" id="key_skills" name="key_skills" value="{{vacancy.key_skills}}">
        </div>
        <div class="form-group">
            <label for="descriptions">Описание вакансии</label>
            <textarea id="descriptions" name="descriptions" rows="4" required>{{vacancy.description}}</textarea>
            <span class="tooltip">
              <span class="tooltip-text">Максимальный размер описания 500 символов!</span>
              <sup>?</sup>
            </span>
        </div>
        <label>
            <input type="checkbox" name="is_published" {% if vacancy.is_published %}checked{% endif %}>Опубликовать сразу
        </label>
        <button type="submit">Создать вакансию</button>
    </form>

</div>
{% endblock %}