{% extends 'employer.html' %}
{% load static %}

{% block title %} Создание вакансии {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/crt_resume.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/messages.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container">
    {% if error_message %}
        <div class="error-message">
            <p>{{ error_message }}</p>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title_vacancy">Название вакансии</label>
            <input type="text" id="title_vacancy" name="title_vacancy" required value="">
        </div>
        <div class="form-group">
            <label for="location">Местоположение (офиса, места работы) если есть</label>
            <input type="text" id="location" name="location" value="">
            <span class="tooltip">
                <span class="tooltip-text">Напишите местоположение вашего места работы, т.е. где нужно будет трудиться.</span>
                <sup>?</sup>
            </span>
        </div>
        <div class="form-group">
            <label for="type_of_employment">Тип занятости кандидатов</label>
            <select id="type_of_employment" name="type_of_employment">
                <option></option>
                <option>Подработка</option>
                <option>Частичная занятость</option>
                <option>Полный рабочий день</option>
                <option>Стажировка</option>
                <option>Удаленная работа</option>
                <option>Вахтовый метод работы</option>
                <option>Сезонная работа</option>
                <option>Контрактная работа</option>
            </select>
        </div>
        <div class="form-group">
            <label for="specialization">Специализация</label>
             <select id="specialization" name="specialization">
                <option>Производство и изготовление</option>
                <option>Финансы и инвестиции</option>
                <option>Медицина и здравоохранение</option>
                <option>Образование</option>
                <option>Транспорт и логистика</option>
                <option>Информационные технологии</option>
                <option>Маркетинг и реклама</option>
                <option>Розничная торговля</option>
            </select>
        </div>
        <div class="form-group">
            <label for="salary">Заработная плата кандидатов</label>
            <input type="number" id="salary" name="salary" value="" min="0">
            <select class="small-select" name="currency">
              <option value="byn">Br</option>
              <option value="rub">&#8381;</option>
              <option value="usd">$</option>
            </select>
        </div>
        <div class="form-group">
            <label for="experience">Опыт работы кандидатов</label>
            <input type="number" id="experience" name="experience" min="0" value="">
            <span class="tooltip">
              <span class="tooltip-text">Напишите, сколько должно быть опыта у кандидата в этой области.</span>
              <sup>?</sup>
            </span>
        </div>
        <div class="form-group">
            <label for="key_skills">Ключевые навыки у кандидатов</label>
            <input type="text" id="key_skills" name="key_skills" value="">
        </div>
        <div class="form-group">
            <label for="descriptions">Описание вакансии</label>
            <textarea id="descriptions" name="descriptions" rows="4" required></textarea>
            <span class="tooltip">
              <span class="tooltip-text">Максимальный размер описания 500 символов!</span>
              <sup>?</sup>
            </span>
        </div>
        <label>
            <input type="checkbox" name="is_published">Опубликовать сразу
        </label>
        <button type="submit">Создать вакансию</button>
    </form>

</div>
{% endblock %}