{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% static 'search_site/styles/style.css' %}" rel="stylesheet"/>
    {% block css %}
    {% endblock %}
    <style>
        .link-applicant:hover {
            color: #81c1fc;
        }
        .link-exit:hover {
            color: red;
        }
    </style>

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
{% if not request.user.is_authenticated %}
<script>
    window.location.href = "{% url 'login_employer' %}";
</script>
{% endif %}

{% if request.user.company %}
<div class="navbar-wrapper">
    <div class="main-navbar">
        <ul class="topnav">
            <li>
                <div class="img-main">
                     <span>
                        <a href="{% url 'main_employer' %}"> <img src="{% static 'photo/icon.png' %}" class="navbar-image"></a>
                    </span>
                </div>
            </li>
            <li class="right">
                <div class="img-main">
                     <span>
                        <a href="#"> <img src="{% static 'photo/user.png' %}" class="navbar-image" title="Профиль"></a>
                    </span>&#8194;&#8194;&#8194;
                    <span><a href="{% url 'logout_user' %}" class="link-exit">Выход</a></span>
                </div>
            </li>
            <li><a href="{% url 'vacancy_company' %}" class="link-applicant">Мои вакансии</a></li>
            <li><a href="#" class="link-applicant">Отклики</a></li>
            <li><a href="{% url 'help' %}" class="link-applicant">Помощь</a></li>
        </ul>
    </div>
</div>
<div id="wrapper">
    {% block content %}
    {% endblock %}
    <br>
    <div id="footer">
        <p>Футер</p>
    </div>
</div>

</body>
{% block js %}
{% endblock %}
{% elif request.user.applicant %}
<script>
    window.location.href = "{% url 'main_applicant' %}";
</script>
{% else %}
<script>
    window.location.href = "{% url 'admin' %}";
</script>
{% endif %}
</html>