{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% static 'search_site/styles/style.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'search_site/styles/footer.css' %}" rel="stylesheet"/>
</head>
<body>
    <div>
        <div class="footer-columns">
            <div class="column">
                <h3>RabotaHelp</h3>
                <p class="par"><a href="#">О сайте</a></p>
                <p class="par"><a href="#">Реклама на сайте</a></p>
                <p class="par"><a href="#">API</a></p>
                <p class="par"><a href="#">Условия использования сайта</a></p>
            </div>
            <div class="column">
                <h3>Новости и статьи</h3>
                <p class="par"><a href="#">Наш рынок труда</a></p>
                <p class="par"><a href="#">Наиболее популярные компании</a></p>
                <p class="par"><a href="#">Последние изменения</a></p>
                <p class="par"><a href="#">Различные сервисы</a></p>
            </div>
            <div class="column">
                <h3>Для молодых специалистов</h3>
                <p class="par"><a href="#">Различные события</a></p>
                <p class="par"><a href="#">Онлайн школы программистов</a></p>
                <p class="par"><a href="#">Компании которым нужен Ты!</a></p>
                <p class="par"><a href="#">Популярные профессии</a></p>
            </div>
          </div>
          <div class="footer-info">
            <p>
                © Права защищены. Любое копирование или использование материалов без письменного разрешения
                владельца авторских прав запрещено и может повлечь за собой юридические последствия.
            </p>
          </div>
    </div>
</body>
</html>