{% extends template %}

{% load static %}

{% block title %}Помощь{% endblock %}

{% block help %} current {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/help.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/messages.css' %}" rel="stylesheet"/>
{% endblock %}

{% block total_responses %}
  {% if total_responses %}
    <small>{{ total_responses }}</small>
  {% endif %}
{% endblock %}

{% block content %}
{% if messages %}
            {% for message in messages %}
                {% if message.tags != "success" %}
                    <div class="error-message">
                        {{ message }}
                    </div>
                {% else %}
                    <div style="color: #0cb309; font-size: 24px; margin-bottom: 16px;">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
          {% endif %}
<h2 class="header">Пишите на по поводу различных вопросов</h2>
    <p class="text-par">Если вы хотите подсказать нам, как улучшить наш сайт, высказать ваши замечания или задать вопрос службе поддержки, пожалуйста, выберите подходящую тему и категорию вашего вопроса из предложенных вариантов:</p>
<form action="{% url 'send_message_from_help_page' %}" method="post">
    {% csrf_token %}

    {% if success %}
    <div style="color: #09d910; font-size: 24px; margin-bottom: 16px;">
        <p>{{ success }}</p>
    </div>
    {% endif %}

    <div class="main-container">
        <label for="topic" class="label-container">Тема:</label>
        <select id="topic" onchange="checkOtherOption()" name="topic">
            <option value="bag_system">Найден баг в системе</option>
            <option value="add_new_functional">Улучшение сайта, добавление нового функционала</option>
            <option value="complaints">Жалобы на компании, кандидатов</option>
            <option value="other">Другое</option>
        </select>

        <div id="otherTopicContainer" style="display: none;">
            <label for="otherTopic" class="label-container">Другое:</label>
            <input type="text" id="otherTopic" name="otherTopic">
        </div>
    </div>

    <div class="main-container">
        <label for="content">Содержание:</label>
        <textarea id="content" name="content" class="label-container" required></textarea>
    </div>
    <div class="main-container">
        <label for="name" class="label-container">Имя:</label>
        <input type="text" id="name" name="fullname" required value="{{request.user.applicant.second_name}} {{request.user.applicant.first_name}}">
    </div>

    <div class="main-container">
        <label for="email" class="label-container">Email:</label>
        <input type="email" id="email" name="email" value="{{request.user.email}}" required>
    </div>

    <button type="submit" class="btn-sub">Отправить</button>
</form>
{% endblock %}

{% block js %}

<script>
        function checkOtherOption() {
        const select = document.getElementById("topic");
        const otherTopicContainer = document.getElementById("otherTopicContainer");
        const otherTopicInput = document.getElementById("otherTopic");

        if (select.value === "other") {
            otherTopicContainer.style.display = "block";
            otherTopicInput.setAttribute("required", "required");
        } else {
            otherTopicContainer.style.display = "none";
            otherTopicInput.removeAttribute("required");
        }
    }
</script>

{% endblock %}