{% extends 'base_applicant.html' %}

{% load static %}
{% block title %} Домашняя страница {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/applicant_home.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/messages.css' %}" rel="stylesheet"/>
{% endblock %}

{% block total_responses %}
  {% if total_responses %}
    <small>{{ total_responses }}</small>
  {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="left-container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
          {% if error_message %}
        <div class="error-message">
            <p>{{ error_message }}</p>
        </div>
        {% endif %}
        <table>
          <tr>
            <td>Имя</td>
              {% if applicant.first_name %}
            <td><input type="text" name="first_name" value="{{ applicant.first_name }}"></td>
              {% else %}
              <td><input type="text" name="first_name" value="" placeholder="Не задано"></td>
              {% endif %}
          </tr>
          <tr>
            <td>Фамилия</td>
              {% if applicant.second_name %}
            <td><input type="text" name="second_name" value="{{ applicant.second_name }}"></td>
              {% else %}
            <td><input type="text" name="second_name" value="" placeholder="Не задано"></td>
              {% endif %}
          </tr>
          <tr>
            <td>Email</td>
            <td><input type="email" name="email" value="{{ applicant.user.email }}" required></td>
          </tr>
          <tr>
            <td>Мобильный телефон</td>
            {% if applicant.phone %}
            <td><input type="text" name="phone" value="{{ applicant.phone }}"></td>
            {% else %}
            <td><input type="text" name="phone" value="" placeholder="Не задано"></td>
            {% endif %}
          </tr>
          <tr>
            <td>Фото профиля</td>
            <td><input type="file" name="image"></td>
          </tr>
           <tr>
            <td>Пароль</td>
            <td><a href="{% url 'change_password_applicant' %}" class="link-password">Изменить пароль</a></td>
          </tr>
        </table>
        <button type="submit">Сохранить</button>
      </form>
      <div class="delete-me">
        <a href="{% url 'delete_me' %}" class="link-delete-me">Удаление аккаунта</a>
      </div>
    </div>
      <div class="right-container" style="background-color: #f1f1f1;">
    {% if applicant.image %}
        <img src="{{ applicant.image.url }}" alt="" width="70%">
    {% else %}
        <img src="{% static 'photo/user_no_photo.png' %}" alt="">
    {% endif %}
      </div>
</div>


{% endblock %}

{% block js %}
<script>
    {% if alert %}
    alert("Профиль изменен")
    window.location = "{% url 'main_applicant' %}home_page"
    {% endif %}
</script>
{% endblock %}