{% extends 'base_applicant.html' %}

{% load static %}
{% block title %} Работа для вас {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/vacancy_for_main_page.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/news_and_useful_article.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/index_applicant.css' %}" rel="stylesheet"/>
<style>
    .vacancy-company {
        font-size: 14px;
        color: #777;
        margin: 0 0 10px;
     }

.container-img img{
    width: 100%;
    text-align: center;
    max-width: 30%;
    height: auto;
}
</style>
{% endblock %}

{% block total_responses %}
  {% if total_responses %}
    <small>{{ total_responses }}</small>
  {% endif %}
{% endblock %}

{% block content %}
<div class="header-search">
     <form action="{% url 'search_vacancy' %}" method="get" class="search-form">
        <input type="text" class="search-input" placeholder="Введите профессию, должность, ключевые навыки" name="vacancy">
        <button class="search-button">Поиск</button>
     </form>
</div>
<div class="main-content">
    {% for vacancy in vacancies %}
    <div class="vacancy-container">
        <div class="vacancy-card">
            <a href="{% url 'vacancy' vacancy.id %}" class="card-link"><h2 class="vacancy-title">{{ vacancy.title_vacancy }}</h2></a>
            <p class="vacancy-company">Компания: {{vacancy.company.title_company}}</p>
            <p class="vacancy-description">{{vacancy.description}}</p>
            <p class="vacancy-location">Местоположение: {{vacancy.location}}</p>
            <button class="apply-button" onclick="return window.location.href='{% url 'vacancy' vacancy.id %}'">Откликнуться</button>
        </div>
    </div>
    {% endfor %}
</div>
<div class="ad-container">
    <div>
        <p>тут могла быть ваша реклама</p>
    </div>
</div>

<div class="container-content">
        <div class="header">
            <h6 class="elegant-header">Работа в компаниях</h6>
            <a class="link-button" href="{% url 'catalog_company' %}">Каталог компаний</a>
        </div>
        <div class="row">
            {% for item in popular_company %}
                <div class="item-company">
                    <div class="container-img">
                        <a href="{% url 'show_info_about_company' item.company.id %}" target="_blank">
                        {% if item.company.image_company %}
                            <img src="{{ item.company.image_company.url }}">
                        {% else %}
                            <img src="{% static 'photo/employment.png' %}">
                        {% endif %}
                        </a>
                    </div>
                    <h3>{{ item.company.title_company }}</h3>
                    <p>Количество вакансий: {{ item.vacancy_count }}</p>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="container-block">
            <div class="column-block">
                  <h2 class="header-block">Статьи</h2>
                  <a href="#">Тут ссылка или текст</a>
                  <p class="column-text">Строка 2</p>
                  <p class="column-text">Строка 3</p>
            </div>
             <div class="column-block">
                  <h2 class="header-block">Новости</h2>
                  <p class="column-text">Строка 1</p>
                  <p class="column-text">Строка 2</p>
                  <p class="column-text">Строка 3</p>
             </div>
        </div>
</div>

{% endblock %}