{% extends 'base.html' %}

{% load static %}
{% block title %}  {% endblock %}
{% block index %} current {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/search.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/vacancy_for_main_page.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/news_and_useful_article.css' %}" rel="stylesheet"/>
<style>
.container-img img{
    width: 100%;
    text-align: center;
    max-width: 30%;
    height: auto;
}
</style>
{% endblock %}

{% block content %}

{% if not request.user.is_authenticated %}
<div class="main-content">
    <div class="search-container">
        <h3 class="search-header">Найди свою идеальную вакансию у нас!</h3>
        <form action="{% url 'search_vacancy' %}" method="GET" class="search-form">
            <input type="text" name="vacancy" placeholder="Введите название професии, должности или компании">
            <button type="submit">Поиск</button>
        </form>
        <div class="clickable-strings">
            <span>Например:</span>
            <span class="clickable-string">Инженер-геолог</span>
            <span class="clickable-string">Водитель-кондуктор</span>
            <span class="clickable-string">Менеджер по продажам</span>
        </div>
    </div>
    <div class="container-search-people">
        <div class="content-count-vacancy">
            <span>{{count_vacancy}}</span>
            <p>Вакансий</p>
        </div>
        <div class="content-count-company">
            <span>{{count_company}}</span>
            <p>Компаний</p>
        </div>
    </div>
    <div class="container-content">

        <div class="header">
            <h6 class="elegant-header">Вакансии по отраслям</h6>
            <a class="link-button" href="{% url 'search_vacancy' %}?vacancy=ALL_VACANCY" target="_blank">Каталог вакансий</a>
        </div>
        <div class="row">
            <div class="item">
                <h3>Информационные технологии</h3>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Разработчик ПО"><p>Разработчик ПО</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Тестировщик ПО"><p>Тестировщик ПО</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Инженер-программист"><p>Инженер-программист</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Системный администратор"><p>Системный администратор</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Системный инженер"><p>Системный инженер</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Гейм дизайнер"><p>Гейм дизайнер</a>
            </div>
            <div class="item">
                <h3>Финансы, бухгалтерия</h3>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Брокер"><p>Брокер</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Бухгалтер"><p>Бухгалтер</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Казначей"><p>Казначей</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Методолог"><p>Методолог</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Финансовый аналитик"><p>Финансовый аналитик</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Экономист"><p>Экономист</a>
            </div>
            <div class="item">
                <h3>Рабочий персонал</h3>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Грузчик"><p>Грузчик</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Кладовщик"><p>Кладовщик</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Разнорабочий"><p>Разнорабочий</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Механик"><p>Механик</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Слесарь, сантехник"><p>Слесарь, сантехник</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Машинист"><p>Машинист</a>
            </div>
            <div class="item">
                <h3>Строительство</h3>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Руководитель проектов"><p>Руководитель проектов</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Архитектор"><p>Архитектор</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Инженер проекта"><p>Инженер проекта</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Прораб"><p>Прораб</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Инженер-конструктор"><p>Инженер-конструктор</a>
                <a href="#" class="link-vacancy"  style="color: black; text-decoration: none;" data-vacancy="Агент по недвижимости"><p>Агент по недвижимости</a>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const vacancyLinks = document.querySelectorAll('.link-vacancy');

                vacancyLinks.forEach(function(link) {
                    link.addEventListener('click', function(event) {
                        event.preventDefault();
                        const vacancyName = link.getAttribute('data-vacancy');
                        const url = `{% url 'search_vacancy' %}?vacancy=${vacancyName}`;

                        window.location.href = url.toString();
                    });
                });
            });
        </script>

        <div class="header">
            <h6 class="elegant-header">Работа в компаниях</h6>
             <a class="link-button" href="{% url 'catalog_company' %}" target="_blank">Каталог компаний</a>
        </div>
        <div class="row">
            {% for item in popular_company %}
                <div class="item-company">
                    <div class="container-img">
                        <a href="{% url 'show_info_about_company' item.company.id %}">
                        {% if item.company.image_company %}
                            <img src="{{ item.company.image_company.url }}">
                        {% else %}
                            <img src="{% static 'photo/employment.png' %}">
                        {% endif %}
                        </a>
                    </div>
                    <h3>{{ item.company.title_company }}</h3>
                    <p>Количество вакансий: {{ item.vacancy_count }}</p>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="container-block">
            <div class="column-block">
                  <h2 class="header-block">Статьи</h2>
                  <a href="#">Тут ссылка или текст</a>
                  <p class="column-text">Строка 2</p>
                  <p class="column-text">Строка 3</p>
            </div>
             <div class="column-block">
                  <h2 class="header-block">Новости</h2>
                  <p class="column-text">Строка 1</p>
                  <p class="column-text">Строка 2</p>
                  <p class="column-text">Строка 3</p>
            </div>
             <div class="column-block">
                 <h2 class="header-block">Полезное</h2>
                 <p class="column-text">Строка 1</p>
                 <p class="column-text">Строка 2</p>
                 <p class="column-text">Строка 3</p>
            </div>
        </div>
    </div>

</div>
{% else %}
<script>
    window.location.href = "{% url 'main_applicant' %}";
</script>
{% endif %}

{% endblock %}

{% block js %}
 <script>
const searchForm = document.getElementById('search-form');
const searchInput = document.querySelector('input[name="vacancy"]');
const clickableStrings = document.querySelectorAll('.clickable-string');

// Функция, которая добавляет текст из кликаемой строки в поисковую строку
function handleClickableStringClick(event) {
    const clickedString = event.target.textContent;
    searchInput.value = clickedString;
    searchForm.submit();
}

// Добавляем обработчик события клика для каждой кликаемой строки
clickableStrings.forEach(string => {
    string.addEventListener('click', handleClickableStringClick);
});
 </script>
{% endblock %}