{% extends 'base_employer.html' %}

{% load static %}
{% block employer %} current {% endblock %}
{% block title %} Для компаний {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/base_employer.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/index_employer.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/search.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/vacancy_for_main_page.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="main">
    <div class="container">
        <h1 class="title">Разместите ваши вакансии у нас</h1>
        <p>и мы поможем вам найти лучших кандидатов для вашей работы</p>
        <div class="image-container">
            <img src="{% static 'photo/employment.png' %}" class="img-photo">
        </div>
        <a class="link-vacancy" href="{% url 'login_employer' %}">Разместить вакансию</a>
    </div>
    <div class="spacing-div"></div>
    <div class="search-container">
        <h3 class="search-header">Найдите кандидатов у нас!</h3>
        <form action="{% url 'search_resume' %}" method="get" class="search-form">
            <input type="text" name="resume" placeholder="Поиск по резюме">
            <button type="submit">Поиск</button>
        </form>
        <div class="clickable-strings">
            <span>Работодатели часто ищут:</span>
            <span class="clickable-string">Менеджер</span>
            <span class="clickable-string">Бухгалтер</span>
            <span class="clickable-string">Кассир</span>
        </div>
    </div>

    <div class="vacancy-industry-content">
        <div class="header">
            <h6 class="elegant-header">Резюме по отраслям</h6>
            <a class="link-button" href="{% url 'search_resume' %}?resume=ALL_RESUME" target="_blank">Каталог резюме</a>
        </div>
        <div class="row">
            <div class="item">
                <h3>Информационные технологии</h3>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Разработчик ПО"><p>Разработчик ПО</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Тестировщик ПО"><p>Тестировщик ПО</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Инженер-программист"><p>Инженер-программист</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Системный администратор"><p>Системный администратор</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Системный инженер"><p>Системный инженер</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Гейм дизайнер"><p>Гейм дизайнер</a>
            </div>
            <div class="item">
                <h3>Финансы, бухгалтерия</h3>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Брокер"><p>Брокер</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Бухгалтер"><p>Бухгалтер</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Казначей"><p>Казначей</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Методолог"><p>Методолог</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Финансовый аналитик"><p>Финансовый аналитик</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Экономист"><p>Экономист</a>
            </div>
            <div class="item">
                <h3>Рабочий персонал</h3>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Грузчик"><p>Грузчик</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Кладовщик"><p>Кладовщик</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Разнорабочий"><p>Разнорабочий</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Механик"><p>Механик</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Слесарь, сантехник"><p>Слесарь, сантехник</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Машинист"><p>Машинист</a>
            </div>
            <div class="item">
                <h3>Строительство</h3>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Руководитель проектов"><p>Руководитель проектов</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Архитектор"><p>Архитектор</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Инженер проекта"><p>Инженер проекта</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Прораб"><p>Прораб</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Инженер-конструктор"><p>Инженер-конструктор</a>
                <a href="#" class="link-resume"  style="color: black; text-decoration: none;" data-resume="Агент по недвижимости"><p>Агент по недвижимости</a>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const vacancyLinks = document.querySelectorAll('.link-resume');

                vacancyLinks.forEach(function(link) {
                    link.addEventListener('click', function(event) {
                        event.preventDefault();
                        const vacancyName = link.getAttribute('data-resume');
                        const url = `{% url 'search_resume' %}?resume=${vacancyName}`;

                        window.location.href = url.toString();
                    });
                });
            });
        </script>
    </div>


</div>
{% endblock %}

{% block js %}
 <script>
const searchForm = document.getElementById('search-form');
const searchInput = document.querySelector('input[name="resume"]');
const clickableStrings = document.querySelectorAll('.clickable-string');

// Функция, которая добавляет текст из кликаемой строки в поисковую строку
function handleClickableStringClick(event) {
    const clickedString = event.target.textContent;
    searchInput.value = clickedString;
    searchForm.submit();
}

// Добавляем обработчик события клика для каждой кликаемой строки
clickableStrings.forEach(string => {
    string.addEventListener('click', handleClickableStringClick);
});
 </script>
{% endblock %}