{% extends 'employer.html' %}

{% load static %}
{% block title %} Кандидаты для вас {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/vacancy_for_main_page.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/news_and_useful_article.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/index_applicant.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="header-search">
     <form action="/search/vacancy" method="get" class="search-form">
        <input type="text" class="search-input" placeholder="Поиск по резюме" name="vacancy">
        <button class="search-button">Поиск</button>
     </form>
</div>
{% endblock %}