{% extends 'employer.html' %}

{% load static %}
{% block title %} Кандидаты для вас {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/vacancy_for_main_page.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/news_and_useful_article.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/index_company.css' %}" rel="stylesheet"/>
<style>
.resume-key_skills {
    font-size: 16px;
    color: #555;
    margin: 0 0 10px;
}

.resume-experience {
    font-size: 14px;
    color: #555;
    margin: 0 0 10px;
}
.resume-profession {
    font-style: italic;
    font-size: 14px;
    color: #555;
    margin: 0 0 10px;
}

.resume-card img {
    float: right; /* Установите картинку справа */
    width: 20%; /* Установите ширину картинки по вашему усмотрению */
    margin-left: 20px; /* Добавьте немного отступа между картинкой и текстом */
}

.card-link {
    text-decoration: none;
}

.card-link:hover {
    color: red;
}
</style>
{% endblock %}

{% block content %}
<div class="header-search">
     <form action="{% url 'search_resume' %}" method="get" class="search-form">
        <input type="text" class="search-input"
               placeholder="Поиск по резюме, навыкам, опыту, названию специальности..." name="resume">
        <button class="search-button">Поиск</button>
     </form>
</div>

<div class="main-content">
    <div class="container-resume">
        <h2>Резюме кандидатов, которые могут вас заинтересовать</h2>
        {% for resume in resumes %}
        <div class="resume-card">
            {% if resume.applicant.image and request.user.company.is_confirmed %}
            <img src="{{ resume.applicant.image.url }}">
            {% else %}
            <img src="{% static 'photo/user_no_photo.png' %}" title="Потвердите достоверность компании, чтобы видеть фото кандидатов">
            {% endif %}
            <h2 class="resume-title">
                <a href="{% url 'show_info_about_applicant_resume' resume.id  %}" class="card-link">{{ resume.name_of_resume }}</a>
            </h2>
            <p class="resume-experience">Опыт работы: {% if resume.experience %}{{ resume.key_skills }}{% else %}Нет опыта{% endif %}</p>
            <p>{% if resume.salary %}{{resume.salary}}{% endif %}</p>
            {% if resume.profession != "Нет профессии"  %}
            <p class="resume-profession">Профессия: {{ resume.profession }}</p>
            {% endif %}
            <p class="resume-location"></p>
            <p class="resume-key_skills" style="font-style: italic;">Навыки кандидата: {{ resume.key_skills }}</p>
            <h5>Описание резюме:</h5>
            <p class="resume-description">
                {% if resume.about_applicant|length > 50 %}
                {{resume.about_applicant|slice:":50"}}...
                {% else %}{{resume.about_applicant}}
                {% endif %}
            </p>
            <button class="more-info-button">Подробнее</button>
        </div>
        {% endfor %}
    </div>
    <div class="ad-container">
        <p>Тут могла быть ваша реклама</p>
    </div>
</div>

<div class="container-content">
        <div class="header">
            <h6 class="elegant-header">Популярные компании</h6>
            <a class="link-button" href="#">Каталог компаний</a>
        </div>
        <div class="row">
                <div class="item-company">
                    <p>asdasd</p>
                </div>
                <div class="item-company">
                    <p>asdasd</p>
                </div>
                <div class="item-company">
                    <p>asdasd</p>
                </div>
                <div class="item-company">
                    <p>asdasd</p>
                </div>
                <div class="item-company">
                    <p>asdasd</p>
                </div>
            </div>
        <hr>
        <div class="container-block">
            <div class="column-block">
                  <h2 class="header-block">Статьи</h2>
                  <a href="#">Тут ссылка или текст</a>
                  <p class="column-text">Строка 2</p>
                  <p class="column-text">Строка 3</p>
            </div>
             <div class="column-block">
                  <h2 class="header-block">Новости</h2>
                  <p class="column-text">Строка 1</p>
                  <p class="column-text">Строка 2</p>
                  <p class="column-text">Строка 3</p>
             </div>
        </div>
</div>
{% endblock %}