{% extends 'base.html' %}

{% load static %}
{% block title %}  {% endblock %}
{% block index %} current {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/search.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/vacancy_for_main_page.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/news_and_useful_article.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

{% if not request.user.is_authenticated %}
<div class="main-content">
    <div class="search-container">
        <h3 class="search-header">Найди свою идеальную вакансию у нас!</h3>
        <form action="" method="GET">
            <input type="text" name="query" placeholder="Введите название професии, должности или компании">
            <button type="submit">Поиск</button>
        </form>
        <div class="clickable-strings">
            <span>Например:</span>
            <span class="clickable-string">Инженер-геолог</span>
            <span class="clickable-string">Водитель-кондуктор</span>
            <span class="clickable-string">Менеджер по продажам</span>
        </div>
    </div>
    <div class="container-search-people">
        <div class="content-count-vacancy">
            <span>10000</span>
            <p>Вакансий</p>
        </div>
        <div class="content-count-company">
            <span>10000</span>
            <p>Компаний</p>
        </div>
    </div>
    <div class="container-content">

        <div class="header">
            <h6 class="elegant-header">Вакансии по отраслям</h6>
            <a class="link-button" href="#">Каталог вакансий</a>
        </div>
        <div class="row">
            <div class="item">
                <p>Контент 5</p>
                <p>Контент 5</p>
                <p>Контент 5</p>
            </div>
            <div class="item">
                <p>Контент 6</p>
                <p>Контент 6</p>
                <p>Контент 6</p>
            </div>
            <div class="item">
                <p>Контент 7</p>
                <p>Контент 7</p>
                <p>Контент 7</p>
            </div>
            <div class="item">
                <p>Контент 8</p>
                <p>Контент 8</p>
                <p>Контент 8</p>
            </div>
        </div>

        <div class="header">
            <h6 class="elegant-header">Работа в компаниях</h6>
            <a class="link-button" href="#">Каталог компаний</a>
        </div>
        <div class="row">
                <div class="item-company">
                    <p>asdasd</p>
                </div>
                <div class="item-company">
                    <p>asdasd</p>
                </div>
                <div class="item-company">
                    <p>asdasd</p>
                </div>
                <div class="item-company">
                    <p>asdasd</p>
                </div>
                <div class="item-company">
                    <p>asdasd</p>
                </div>
            </div>
        <hr>
        <div class="container-block">
            <div class="column-block">
                  <h2 class="header-block">Статьи</h2>
                  <a href="#">Тут ссылка или текст</a>
                  <p class="column-text">Строка 2</p>
                  <p class="column-text">Строка 3</p>
            </div>
             <div class="column-block">
                  <h2 class="header-block">Новости</h2>
                  <p class="column-text">Строка 1</p>
                  <p class="column-text">Строка 2</p>
                  <p class="column-text">Строка 3</p>
            </div>
             <div class="column-block">
                 <h2 class="header-block">Полезное</h2>
                 <p class="column-text">Строка 1</p>
                 <p class="column-text">Строка 2</p>
                 <p class="column-text">Строка 3</p>
            </div>
        </div>
    </div>

</div>
{% else %}
<script>
    window.location.href = "{% url 'main_applicant' %}";
</script>
{% endif %}

{% endblock %}

{% block js %}
<script src="{% static  'search_site/js/click_search_handle.js' %}"></script>
{% endblock %}