{% extends 'base_applicant.html' %}

{% load static %}
{% block title %} Предложенные вакансии {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/index_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/pagination.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/vacancy_styles.css' %}" rel="stylesheet"/>
<style>
</style>
{% endblock %}

{% block content %}
<div class="header-search">
     <form action="{% url 'search_vacancy' %}" method="get" class="search-form">
        <input type="text" class="search-input" placeholder="Введите профессию, должность, ключевые навыки" name="vacancy">
        <button class="search-button">Поиск</button>
     </form>
</div>
{% for item in page %}
<!--ТАКЖЕ СДЕЛАТЬ ЕСЛИ БУДЕТ ПЕРЕДАВАТЬСЯ ПУСТОЙ СПИСОК ИЗ VACANCY!!-->
    <div class="vacancy-container">
        <div class="search-sidebar">

        </div>
        <div class="vacancy-content">
            <h1>{{ item.title_vacancy }}</h1>
            <h2>{{ item.company.title_company }}</h2>
            <p>{% if item.experience %}{{ item.experience }}{% else %}Можно без опыта{% endif %}</p>
            <p>{% if item.location %}{{ item.location }}{% endif %}</p>
            <p>{{ item.type_of_employment }}</p>
            <p>{% if item.description|length > 100 %} {{ item.description|slice:":100" }}...{% else %}{{item.description}}{% endif %}</p>
            <p class="key-skills">Ключевые навыки: {{ item.key_skills }}</p>
            <button class="button-vacancy">Откликнуться</button>
        </div>
    </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?{{ request.GET.urlencode }}&page=1">&laquo; первая</a>
            <a href="?{{ request.GET.urlencode }}&page={{ page.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current-page">{{ page.number }}</span>

        {% if page.has_next %}
            <a href="?{{ request.GET.urlencode }}&page={{ page.next_page_number }}">следующая</a>
            <a href="?{{ request.GET.urlencode }}&page={{ page.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
