{% extends template %}

{% load static %}
{% block title %} Предложенные кандидиты {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/index_company.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/index_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/pagination.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/vacancy_styles.css' %}" rel="stylesheet"/>
<style>
    .container-img {
        text-align: center;
        margin-top: 10px;
    }
    .company-image {
        max-width: 100%;
        height: auto;
    }
    .not-found {
        justify-content: center;
        align-items: center;
        height: 10vh;
        text-align: center;
        margin-bottom: 200px;
    }
    .container-text{
        background-color: lightblue; /* Светло-синий фон */
        text-align: center;
        padding: 20px; /* Внутренний отступ */
        justify-content: space-between;
    }
    .btn-msg {
        background-color: #007bff; /* Синий цвет фона для кнопок */
        color: white; /* Белый цвет текста */
        padding: 10px 70px; /* Внутренний отступ кнопок */
        border: none; /* Удаление границы кнопок */
        cursor: pointer; /* Изменение курсора при наведении на кнопку */
        transition: background-color 0.3s, color 0.3s;
    }
    .btn-msg:hover {
        background-color: #0056b3; /* Изменение цвета фона при наведении */
        color: #fff; /* Изменение цвета текста при наведении */
    }
    .btn-msg:active {
        background-color: #003f80; /* Изменение цвета фона при нажатии */
        color: #fff; /* Изменение цвета текста при нажатии */
    }

    .btn-msg:first-child {
        margin-right: 30px; /* Отступ справа от первой кнопки */
    }
    .vacancy-update-time {
      font-size: 14px; /* Размер шрифта */
      color: #666; /* Цвет текста */
      margin-top: 5px;
      color: #2cc406;
    }

    select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  width: 240px;
}

select:hover {
  border-color: #aaa;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
</style>
{% endblock %}

{% block content %}
<div class="header-search">
     <form action="{% url 'search_resume' %}" method="get" class="search-form">
        <input type="text" class="search-input"
               placeholder="Поиск по резюме, навыкам, опыту, названию специальности..." name="resume">
        <button class="search-button">Поиск</button>
     </form>
</div>

<div class="vacancy-container">
    <div class="search-sidebar">
            <h3>Опыт работы кандидата</h3>
            <select class="experience" id="experience">
               <option>Не имеет значения</option>
               <option value="no_experience" {% if selector.experience == "no_experience" %}selected{%endif%}>Нет опыта</option>
               <option value="between_one_and_three"{% if selector.experience == "between_one_and_three" %}selected{%endif%} %}>От 1 до 3 лет</option>
               <option value="between_three_and_five" {% if selector.experience == "between_three_and_five" %}selected{%endif%}>От 3 до 5 лет</option>
               <option value="more_then_five" {% if selector.experience == "more_then_five" %}selected{%endif%}>Более 5 лет</option>
            </select>
            <script>
            document.getElementById('experience').addEventListener('change', function() {
                var selectedValue = this.value;

                var currentURL = window.location.href;
                var url = new URL(currentURL);

                if (selectedValue === "Не имеет значения") {
                    url.searchParams.delete('experience');
                } else {
                    url.searchParams.set('experience', selectedValue);
                }
                window.location.href = url.toString();
            });
            </script>
    </div>
    <div class="search-sidebar">
        <h3>Проффесия</h3>
        <select class="profession" id="profession">
            <option>Не имеет значения</option>
            <option value="NO_PROFESSION" {% if selector.profession == "NO_PROFESSION" %}selected{%endif%}>Нет профессии</option>
            <option value="DEVELOPER" {% if selector.profession == "DEVELOPER" %}selected{%endif%}>Разработчик</option>
            <option value="DESIGNER" {% if selector.profession == "DESIGNER" %}selected{%endif%}>Дизайнер</option>
            <option value="MANAGER" {% if selector.profession == "MANAGER" %}selected{%endif%}>Менеджер</option>
            <option value="SECURITY" {% if selector.profession == "SECURITY" %}selected{%endif%}>Охранник</option>
            <option value="COURIER" {% if selector.profession == "COURIER" %}selected{%endif%}>Курьер</option>
            <option value="DRIVER" {% if selector.profession == "DRIVER" %}selected{%endif%}>Водитель</option>
            <option value="ADMINISTRATOR" {% if selector.profession == "ADMINISTRATOR" %}selected{%endif%}>Администратор</option>
            <option value="SECRETARY" {% if selector.profession == "SECRETARY" %}selected{%endif%}>Секретарь</option>
            <option value="COOK" {% if selector.profession == "COOK" %}selected{%endif%}>Повар</option>
            <option value="SWAMPER" {% if selector.profession == "SWAMPER" %}selected{%endif%}>Разнорабочий</option>
            <option value="ASSISTANT" {% if selector.profession == "ASSISTANT" %}selected{%endif%}>Помощник</option>
        </select>
        <script>
            document.getElementById('profession').addEventListener('change', function() {
                var selectedValue = this.value;

                var currentURL = window.location.href;
                var url = new URL(currentURL);

                if (selectedValue === "Не имеет значения") {
                    url.searchParams.delete('profession');
                } else {
                    url.searchParams.set('profession', selectedValue);
                }
                window.location.href = url.toString();
            });
            </script>
    </div>
    <div class="search-sidebar">
        <h3>Образование</h3>
        <select class="education" id="education">
            <option>Не имеет значения</option>
            <option value="NO_EDUCATION" {% if selector.education == "NO_EDUCATION" %}selected{%endif%}>Нет образования</option>
            <option value="AVERAGE" {% if selector.education == "AVERAGE" %}selected{%endif%}>Среднее</option>
            <option value="SPECIALIZED_SECONDARY" {% if selector.education == "SPECIALIZED_SECONDARY" %}selected{%endif%}>Среднее специальное</option>
            <option value="INCOMPLETE_HIGHER" {% if selector.education == "INCOMPLETE_HIGHER" %}selected{%endif%}>Неоконченное высшее</option>
            <option value="HIGHER" {% if selector.education == "HIGHER" %}selected{%endif%}>Высшее</option>
            <option value="BACHELOR" {% if selector.education == "BACHELOR" %}selected{%endif%}>Бакалавр</option>
            <option value="MASTER" {% if selector.education == "MASTER" %}selected{%endif%}>Магистр</option>
            <option value="PHD" {% if selector.education == "PHD" %}selected{%endif%}>Кандидат наук</option>
            <option value="DOCTOR_SCIENCE" {% if selector.education == "DOCTOR_SCIENCE" %}selected{%endif%}>Доктор наук</option>
        </select>
        <script>
            document.getElementById('education').addEventListener('change', function() {
                var selectedValue = this.value;

                var currentURL = window.location.href;
                var url = new URL(currentURL);

                if (selectedValue === "Не имеет значения") {
                    url.searchParams.delete('education');
                } else {
                    url.searchParams.set('education', selectedValue);
                }
                window.location.href = url.toString();
            });
            </script>
    </div>
</div>


{% if not page %}
<div class="not-found">
    <h2>По запросу "{{ request.GET.resume }}" с фильтрами "{{ request.GET.experience }} {{ request.GET.profession }} {{ request.GET.education }}" ничего не было найдено!</h2>
    <div class="container-text">
        <p>По вашему запросу ещё будут появляться новые вакансии. Присылать вам?</p>
        <button class="btn-msg">На почту</button>
        <button class="btn-msg">В месседжер</button>
    </div>
</div>
{% endif %}

{% for item in page %}
    <div class="vacancy-container">
        <div class="search-sidebar">
            {% if item.applicant.image and request.user.company.is_confirmed %}
            <div class="container-img">
                <a href="{% if request.user.company %}{% url 'show_info_about_applicant_resume' item.applicant.id %}{% else %}#{% endif %}" target="_blank"><img src="{{ item.applicant.image.url }}" class="company-image"></a>
            </div>
            {% else %}
            <div class="container-img">
                <a href="{% if request.user.company %}{% url 'show_info_about_applicant_resume' item.id %}{% else %}#{% endif %}" target="_blank"><img src="{% static 'photo/user_no_photo.png' %}" alt="" style="width: 100%"></a>
            </div>
            {% endif %}
        </div>
        <div class="vacancy-content">
            <p class="vacancy-update-time">Обновлено: {{ item.updated_at }}</p>
            <a href="{% if request.user.company %}{% url 'show_info_about_applicant_resume' item.id %}{% else %}{% url 'login_employer' %}{% endif %}" target="_blank" class="card-link"><h1>{{ item.name_of_resume }}</h1></a>
            {% if item.salary %}<h4>Предполагаемая заработная плата: {{item.salary}}</h4>{% endif %}
            <p>{% if item.experience %}Опыт работы: {{ item.experience }}{% else %}Нет опыта{% endif %}</p>
            <p>{% if item.place_of_work %}Последнее место работы: {{item.place_of_work}}{% endif %}</p>
            <p>{% if item.location %}{{ item.location }}{% endif %}</p>
            <p>Профессия: {{ item.profession }}</p>
            <p class="key-skills">Ключевые навыки: {{ item.key_skills }}</p>
            <form id="likeForm_{{ item.id }}" method="post" action="{% url 'add_favorite_resume' item.id %}">
                {% csrf_token %}
                <button style="background: none; border: none; padding: 0; float: right" type="button" onclick="likeResume('{{ item.id }}')">
                    <img src="{% static 'photo/like_vacancy.png' %}" class="navbar-image" title="Добавить в понравившиеся">
                </button>
            </form>
        </div>
    </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?{{ request.GET.urlencode }}&page=1">&laquo; первая</a>
            <a href="?{{ request.GET.urlencode }}&page={{ page.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current-page">{{ page.number }}</span>

        {% if page.has_next %}
            <a href="?{{ request.GET.urlencode }}&page={{ page.next_page_number }}">следующая</a>
            <a href="?{{ request.GET.urlencode }}&page={{ page.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function likeResume(itemId) {
        var formId = '#likeForm_' + itemId;
        $.ajax({
            type: 'POST',
            url: $(formId).attr('action'),
            data: $(formId).serialize(),
            success: function(data) {
                alert('Вакансия добавлена в избранное!');
            },
            error: function() {
                alert('Произошла ошибка. Попробуйте еще раз.');
            }
        });
    }
</script>
{% endblock %}

{% block js %}

{% endblock %}