{% extends template %}

{% load static %}
{% block title %} Восстановление пароля {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/login.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/messages.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="container">
        <h3>Восстановление пароля</h3>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags != "success" %}
                    <div class="error-message">
                        {{ message }}
                    </div>
                {% else %}
                    <div style="color: #0cb309; font-size: 24px; margin-bottom: 16px;">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="form-group">
            <label for="password1">Введите новый пароль</label>
            <input type="password" id="password1" name="password1" required>

            <label for="password2">Введите новый пароль</label>
            <input type="password" id="password2" name="password2" required>
        </div>
        <button type="submit" class="btn-blue">Потвердить</button>
    </div>
</form>

{% endblock %}
