{% extends 'employer.html' %}

{% load static %}
{% block title %} Отклики кандидатов {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/for_vacancy_table.css' %}" rel="stylesheet"/>
<style>
    .modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .btn {
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  width: 200px;
}

select:hover {
  border-color: #aaa;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
</style>
{% endblock %}

{% block content %}
<div class="container-table">
    <h1 class="header-for-respond">Отклики на Ваши вакансии</h1>
    <table>
        <tr>
            <th>
                <div>
                    <select class="custom-select" id="custom-select">
                        <option value="" {% if status == "" %}selected{%endif%}>Все отклики</option>
                        <option value="pending" {% if status == "pending" %}selected{%endif%}>В ожидании</option>
                        <option value="invitation" {% if status == "access" %}selected{%endif%}>Приглашение</option>
                        <option value="reject" {% if status == "reject" %}selected{%endif%}>Отказ</option>
                    </select>
                </div>
            </th>
        </tr>
        <script>
            document.getElementById('custom-select').addEventListener('change', function() {
                var selectedValue = this.value;
                if (selectedValue === 'pending') {
                    window.location.href = '/employer/responses?status=pending';
                } else if (selectedValue === 'invitation') {
                    window.location.href = '/employer/responses?status=access';
                } else if (selectedValue === 'reject') {
                    window.location.href = '/employer/responses?status=reject';
                } else {
                    window.location.href = '/employer/responses/';
                }
            });
        </script>
    </table>
    <table>
        <tr>
            <th>№ вакансии</th>
            <th>Имя кандидата</th>
            <th>Название вакансии</th>
            <th>Статус</th>
            <th>Действие с кандидатом</th>
        </tr>
      {% for application in applications %}
        <tr>
            <td>{{application.id}}</td>
            <td> <a href="{% url 'show_info_of_applicant' application.applicant.id application.vacancy.id %}">{{application.applicant.second_name}} {{ application.applicant.first_name }}</a></td>
            <td>{{application.vacancy.title_vacancy}}</td>
            <td>
                {% if application.status == 'access' %}
                    <span style="color: green;">Приглашен</span>
                {% elif application.status == 'reject' %}
                     <span style="color: red;">Отклонен</span>
                {% else %}
                    Ожидает
                {%endif%}
            </td>
            <td>
                <form method="post" action="{% url 'change_state' application.id %}">
                    {% csrf_token %}
                    {% if application.status == 'access' %}
                    <select name="change-state">
                        <option value="reject">Отказать</option>
                        <option value="access">Пригласить</option>
                    </select>
                    {% else %}
                    <select name="change-state">
                        <option value="access">Пригласить</option>
                        <option value="reject">Отказать</option>
                    </select>
                    {% endif %}
                    <button class="btn">Потвердить</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}