{% extends 'base_applicant.html' %}

{% load static %}
{% block title %} Ваши отклики {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/vacancy_for_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/for_vacancy_table.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/index_applicant.css' %}" rel="stylesheet"/>
<style>
  select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  width: 200px;
}

select:hover {
  border-color: #aaa;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.responses-button {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    color: blue;
    margin-top: 15px; /* Пример: отступ сверху */
}

.link-tabs {
    text-decoration: none;
    color: #373837
}
.link-tabs:hover {
    color: #0f87f7;
}

</style>
{% endblock %}

{% block total_responses %}
  {% if total_responses %}
    <small>{{ total_responses }}</small>
  {% endif %}
{% endblock %}

{% block content %}
<div class="container-table">
    <h1 class="header-for-respond">Ваши отклики на вакансии</h1>
    <table>
         <tr class="tabs">
             <th><a href="" class="link-tabs" id="active">Активные</a></th>
             <th><a href="{% url 'all_respond_on_vacancy' %}" class="link-tabs" id="all">Все отклики</a></th>
        </tr>
        <script>
            const activeLink = document.getElementById('active');

            function handleActiveLinkClick(event) {
              event.preventDefault();
              const currentUrl = window.location.href;

              if (!currentUrl.includes('filter=active'))
              {
                const separator = currentUrl.includes('?') ? '&' : '?';
                const newUrl = `${currentUrl}${separator}filter=active`;
                window.location.href = newUrl;
              }
            }
            activeLink.addEventListener('click', handleActiveLinkClick);
        </script>
        <tr>
            <th>
                <div>
                    <select class="custom-select" id="custom-select">
                        {% if not filter %}
                        <option value="" {% if status == "" %}selected{%endif%}>Все отклики</option>
                        {% endif %}
                        <option value="pending" {% if status == "pending" %}selected{%endif%}>В ожидании</option>
                        <option value="invitation" {% if status == "access" %}selected{%endif%}>Приглашение</option>
                        <option value="reject" {% if status == "reject" %}selected{%endif%}>Отказ</option>
                    </select>
                </div>
            </th>
        </tr>
        <script>
            document.getElementById('custom-select').addEventListener('change', function() {
                var selectedValue = this.value;
                var currentUrl = new URL(window.location.href);

                if (selectedValue === 'pending') {
                    currentUrl.searchParams.set('status', 'pending');
                } else if (selectedValue === 'invitation') {
                    currentUrl.searchParams.set('status', 'access');
                } else if (selectedValue === 'reject') {
                    currentUrl.searchParams.set('status', 'reject');
                } else {
                    currentUrl.pathname = '/applicant/responses/';
                    currentUrl.search = '';
                }

                window.location.href = currentUrl.href;
            });
        </script>
    </table>
    <table>
        <tr>
            <th>Статус</th>
            <th>Название вакансии</th>
            <th>Дата и время отклика</th>
        </tr>
      {% for response in responses %}
        <tr>
            {% if filter == "" %}
            <td>
                {% if response.status == "pending" %}
                    В ожидании
                {% elif response.status == "access" %}
                    <span style="color: green;">Приглашение</span>
                {% else %}
                    <span style="color: red;">Отказ</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'vacancy' response.vacancy.id %}" class="card-link">
                    {{response.vacancy.title_vacancy}}
                </a>
                <br>
                <form method="post" action="{% url 'change_vision' response.id %}">
                    {% csrf_token %}
                    <span>
                        {% if response.hidden %}
                            <button class="responses-button">Восстановить</button>
                        {% endif %}
                    </span>
                </form>
            </td>
            <td>{{response.application_date}}</td>
            {% elif filter == "active" and not response.hidden %}
                <td>
                {% if response.status == "pending" %}
                    В ожидании
                {% elif response.status == "access" %}
                    <span style="color: green;">Приглашение</span>
                {% else %}
                    <span style="color: red;">Отказ</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'vacancy' response.vacancy.id %}" class="card-link">
                    {{response.vacancy.title_vacancy}}
                </a>
                <br>
                <form method="post" action="{% url 'change_vision' response.id %}">
                    {% csrf_token %}
                    <span>
                        <button class="responses-button">Скрыть отклик</button>
                    </span>
                </form>
            </td>
            <td>{{response.application_date}}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
