{% extends 'base_applicant.html' %}

{% load static %}
{% block title %} Ваши отклики {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/vacancy_for_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/for_vacancy_table.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/index_applicant.css' %}" rel="stylesheet"/>
<style>
.custom-select {
  width: 150px;
  padding 10px;
  magrin 10px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container-table">
    <h1 class="header-for-respond">Ваши отклики на вакансии</h1>
    <table>
        <tr>
            <th>
                <div>
                    <select class="custom-select" id="custom-select">
                        <option value="" {% if status == "" %}selected{%endif%}>Все отклики</option>
                        <option value="pending" {% if status == "pending" %}selected{%endif%}>В ожидании</option>
                        <option value="invitation" {% if status == "access" %}selected{%endif%}>Приглашение</option>
                        <option value="reject" {% if status == "reject" %}selected{%endif%}>Отказ</option>
                    </select>
                </div>
            </th>
        </tr>
        <script>
            document.getElementById('custom-select').addEventListener('change', function() {
                var selectedValue = this.value;
                if (selectedValue === 'pending') {
                    window.location.href = '/applicant/responses?status=pending';
                } else if (selectedValue === 'invitation') {
                    window.location.href = '/applicant/responses?status=access';
                } else if (selectedValue === 'reject') {
                    window.location.href = '/applicant/responses?status=reject';
                } else {
                    window.location.href = '/applicant/responses/';
                }
            });
        </script>
    </table>
    <table>
        <tr>
            <th>Статус</th>
            <th>Название вакансии</th>
            <th>Дата и время</th>
        </tr>
      {% for response in responses %}
        <tr>
            <td>
                {% if response.status == "pending" %}
                    В ожидании
                {% elif response.status == "access" %}
                    <span style="color: green;">Приглашение</span>
                {% else %}
                    <span style="color: red;">Отказ</span>
                {% endif %}
            </td>
            <td>{{response.vacancy.title_vacancy}}</td>
            <td>{{response.application_date}}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
