{% extends 'employer.html' %}

{% load static %}
{% block title %} Просмотр резюме кандидата {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/main_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/applicant_home.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/for_vacancy_table.css' %}" rel="stylesheet"/>
<style>
textarea {
  width: 500px;
  height: 150px;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: none;
  background-color: #f0f0f0;
}

textarea:hover,
textarea:focus {
  outline: none;
}

.response {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 40px;
    font-style: italic;
}

.select-vacancy {
    width: 47%;
    padding: 10px; /* Внутренний отступ */
    margin-bottom: 15px;
    font-size: 16px; /* Размер шрифта */
    border: 2px solid #ccc; /* Граница */
    border-radius: 5px; /* Закругленные углы */
    background-color: #fff; /* Цвет фона */
    color: #333;
    background-color: #f0f0f0;
}

.select-vacancy option {
    padding: 5px; /* Внутренний отступ */
}


.select-vacancy:hover {
    border-color: #aaa; /* Изменение цвета границы при наведении курсора */
}

.button-apply {
    width: 47%;

}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="left-container">
        <div style="display: flex; align-items: center;">
        <h2>Кандидат {{info_applicant.applicant.second_name}} {{info_applicant.applicant.first_name}}</h2>
            <form id="likeForm_{{ info_applicant.id }}" method="post" action="{% url 'add_favorite_resume' info_applicant.id %}">
                {% csrf_token %}
                <button style="background: none; border: none; padding: 0; float: right" type="button" onclick="likeResume('{{ info_applicant.id }}')">
                    <img src="{% static 'photo/like_vacancy.png' %}" class="navbar-image" title="Добавить в понравившиеся">
                </button>
            </form>
        </div>
        <h3>{{ info_applicant.profession }}</h3>

        {% if info_applicant.salary %}
        <p>Предполагаемая заработная плата {{ info_applicant.salary }}</p>
        {% endif %}

        <p style="color: grey;">Опыт работы в данной сфере</p>
        <p>{% if info_applicant.experience %}{{info_applicant.experience}}{% else %}Нет опыта{% endif %}</p>

        <p style="color: grey;">Способы связи</p>
        {% if info_applicant.applicant.phone %}
        <p>Телефон: {{info_applicant.applicant.phone}}</p>
        {% endif %}
        <p>Email: {{info_applicant.applicant.user.email}}</p>
        <br>

        <h3>Ключевые навыки</h3>
        <p>{{info_applicant.key_skills}}</p>
        <br>
        <h3>Образование</h3>
        <p>{{info_applicant.education}}</p>
        <br>
        {% if info_applicant.place_of_work %}
        <h3>Предыдущие места работы</h3>
        <p>{{info_applicant.place_of_work}}</p>
        <br>
        {% endif %}
        <h3>О кандидате</h3>
        <textarea readonly>{{info_applicant.about_applicant}}</textarea>
        <br>
        <br>

        <form action="{% url 'send_invitation_from_the_company' info_applicant.id %}" method="post">
            {% csrf_token %}
            {% if vacancies|length == apply_list_respond|length %}
                <h3 style="fon">Нет больше доступных вакансий</h3>
            {% else %}
            <label>Ваши вакансии, на которые вы можете пригласить</label>
            <select name="title_vacancy" class="select-vacancy">
                {% for vacancy in vacancies %}
                    {% if vacancy not in apply_list_respond %}
                        <option>{{ vacancy.title_vacancy }}</option>
                    {% endif %}
                {% endfor %}

            </select>
            <button class="button-apply">Пригласить кандидата</button>
            {% endif %}
        </form>

    </div>
      <div class="right-container" style="background-color: #f1f1f1;">
    {% if info_applicant.applicant.image and request.user.company.is_confirmed %}
        <img src="{{ info_applicant.applicant.image.url }}" width="70%">
    {% else %}
        <img src="{% static 'photo/user_no_photo.png' %}" title="Чтобы увидеть фото кандидата, потвердите подлинность вашей компании">
    {% endif %}
      </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function likeResume(itemId) {
        var formId = '#likeForm_' + itemId;
        $.ajax({
            type: 'POST',
            url: $(formId).attr('action'),
            data: $(formId).serialize(),
            success: function(data) {
                alert('Резюме добавлено в избранное!');
            },
            error: function() {
                alert('Произошла ошибка. Попробуйте еще раз.');
            }
        });
    }
</script>
{% endblock %}