{% extends 'base_applicant.html' %}

{% load static %}
{% block title %} Вакансия {{vacancy.title_vacancy}} {% endblock %}

{% block css %}
<link type="text/css" href="{% static 'search_site/styles/vacancy_for_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/vacancy_for_main_page.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/index_applicant.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'search_site/styles/messages.css' %}" rel="stylesheet"/>
<style>
  textarea {
  width: 500px; /* Ширина textarea */
  height: 150px; /* Высота textarea */
  resize: none; /* Запрет на изменение размера textarea пользователем */
  font-family: Arial, sans-serif; /* Установка шрифта текста */
  font-size: 16px; /* Размер шрифта текста */
}
.cover-letter {
    margin-top: 20px;
    margin-bottom: 10px;
}

.response {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 40px;
    font-style: italic;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  width: 200px;
}

select:hover {
  border-color: #aaa;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

</style>
{% endblock %}

{% block content %}
<div class="main-container">
  <div class="content-container">
    <div class="summary-container">
      {% if error_message %}
          <div class="error-message">
              <p>{{ error_message }}</p>
          </div>
        {% endif %}
      <div class="response-vacancy-container">
        <h2 class="response-vacancy-title">{{vacancy.title_vacancy}}</h2>
        <p>Заработная плата: {% if vacancy.salary %}{{vacancy.salary}}{% else %}не указана{%endif%}</p>
        <p>Требуемый опыт работы: {% if vacancy.experience %}{{vacancy.experience}}{%else%}Не требуется{%endif%}</p>
        <p>Тип занятости: {% if vacancy.type_of_employment%}{{vacancy.type_of_employment}}{%else%}не указано{%endif%}</p>
          {% if not apply %}
        <p class="create-vacancy">
          Опубликовано: {{vacancy.created_at}}
        </p>
          {% else %}
        <p class="response">Вы уже откликались на эту вакансию</p>
          {% endif %}
        <div>
          <h4>Специализация компании</h4>
          <p>{{vacancy.specialization}}</p>
          <h4>Описание вакансии:</h4>
          <p>{{vacancy.description}}</p>
          <h4>Требуемые навыки:</h4>
          <p>{{vacancy.key_skills}}</p>
          {% if vacancy.location %}
          <h4>Адрес компании:</h4>
          <p>{{vacancy.location}}</p>
          {%endif%}
          {% if vacancy.company.phone_company%}
          <h4>Телефон компании:</h4>
          <p>{{vacancy.company.phone_company}}</p>
          {%endif%}

          <div class="cover-letter">
            {% if not apply %}
              <form action="" method="post">
                {% csrf_token %}
                <h3>Выберите резюме</h3>
                <select name="resumes_of_applicant">
                  {% for resume in resumes %}
                  <option>{{resume.name_of_resume}}</option>
                  {% endfor %}
                </select>
                <h3>Сопроводительное письмо</h3>
                <textarea id="covering_letter" name="covering_letter"></textarea>
                <button class="response-button vacancy-response">Откликнуться на вакансию</button>
              </form>
            {% else %}
              <button class="response-button vacancy-response" onclick="window.location.href='{% url 'all_respond_on_vacancy' %}'">Смотреть отклик</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ad-container">
    <div>
      <h2>
        <a href="#" class="title-link-company">{{vacancy.company.title_company}}</a>
        {% if vacancy.company.is_confirmed %}
          <span><img src="{% static 'photo/confirmed.png' %}" title="Эта компания потверждена" width="5%"></span>
        {%else%}
          <span><img src="{% static 'photo/reject.png' %}" title="Эта компания еще не потверждена нашим сайтом" width="5%"></span>
        {%endif%}
      </h2>

    </div>
   <p>Тут могла быть ваша реклама</p>
  </div>
</div>
{% endblock %}